dataset/
dataset/audio/
wandb/
_pycache/

# Ignore Python bytecode
__pycache__/

# Ignore virtual environment directories
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore data and model directories (adjust paths as needed)
DCASE25_Task1/
models/
helpers/

# Ignore log files
*.log
